[submodule "methods/ds-toolbox-notebook-risk-terrestrial-carbon-pool"]
	path = methods/ds-toolbox-notebook-risk-terrestrial-carbon-pool
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-risk-terrestrial-carbon-pool.git
[submodule "methods/ds-toolbox-notebook-biascorrection"]
	path = methods/ds-toolbox-notebook-biascorrection
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-biascorrection.git
[submodule "methods/ds-toolbox-notebook-multispecies-biodiversity-indicators"]
	path = methods/ds-toolbox-notebook-multispecies-biodiversity-indicators
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-multispecies-biodiversity-indicators.git
[submodule "methods/ds-toolbox-notebook-jsdmstan"]
	path = methods/ds-toolbox-notebook-jsdmstan
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-jsdmstan.git
[submodule "methods/DSFP-PyExplorer"]
	path = methods/DSFP-PyExplorer
	url = https://github.com/NERC-CEH/DSFP-PyExplorer
[submodule "methods/ds-toolbox-notebook-rocrate-tutorial"]
	path = methods/ds-toolbox-notebook-rocrate-tutorial
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-rocrate-tutorial.git
[submodule "methods/ds-toolbox-notebook-metals_EEX_demo"]
	path = methods/ds-toolbox-notebook-metals_EEX_demo
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-metals_EEX_demo.git
[submodule "methods/ds-toolbox-notebook-EEX-placebased-exposure"]
	path = methods/ds-toolbox-notebook-EEX-placebased-exposure
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-EEX-placebased-exposure.git
[submodule "methods/ds-toolbox-notebook-clognorm-mgcv"]
	path = methods/ds-toolbox-notebook-clognorm-mgcv
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-clognorm-mgcv.git
[submodule "methods/ds-toolbox-notebook-ai-plant-drivers"]
	path = methods/ds-toolbox-notebook-ai-plant-drivers
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-ai-plant-drivers.git
[submodule "methods/ds-toolbox-notebook-jsdm-censor"]
	path = methods/ds-toolbox-notebook-jsdm-censor
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-jsdm-censor.git
[submodule "methods/fdri-gridded-notebooks"]
	path = methods/fdri-gridded-notebooks
	url = https://github.com/Jez-Carter/fdri-gridded-notebooks.git
	branch = main
